name: Server CI

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

jobs:
  server:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: ./

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x

      - name: Cache NuGet packages
        uses: actions/cache@v3
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      - name: Restore dependencies
        run: dotnet restore ./apps/server/Server.sln

      - name: Format check
        run: dotnet format ./apps/server/Server.sln --verify-no-changes --verbosity minimal

      - name: Build
        run: dotnet build ./apps/server/Server.sln --no-restore --configuration Release

      - name: Test
        run: dotnet test ./apps/server/Server.sln --no-build --no-restore --verbosity normal --configuration Release
